* {
	margin:0;
	padding:0;

}
body{
	  background:#000;
	  color:#fff;
}


h3{
	text-align:center;
	padding:2em;
   font-size: 20px;
}

form{
   text-align: center;
}

input {

   margin-bottom: 1em;
   border:none;
   padding:.5em;
   outline: none;
   border:1px solid #ccc;
   border-radius: 2px;
}
button {
   display:inline-block;
   margin:0 auto;
   margin-bottom: 1em;
   border:none;
   padding:.5em;
   cursor:pointer;
   background: #019ad6;
   color:#fff;
   overflow: hidden;
}
select {
   padding:.5em;
    outline: none;
}